In [1]:
import pandas as pd

print("I am working")

I am working

In [2]:
fatura_data = pd.read_excel("2022_db_conn_tbl.xlsx")
print("file read")

file read

In [3]:
fatura_data.shape

(314631, 78)

In [4]:
fatura_data.describe()

,FI_BLG_YIL,FI_BLG,FTR_NO,FTR_KLM,SIP_NO,SIP_KLM,MST,MAL_GRB,MLZ_GRB,BRM_FYT,...,SMM_MLZ_BLG,SMM_NET_TRL,SMM_YIL,TSL_KLM,TSL_NO,IRS_MKT_TM,TSL_ALAN,NET_WGT,DEPO_YR,NVL_SGRT
count,314631.000000,3.083550e+05,3.146310e+05,314631.000000,3.145960e+05,314631.000000,3.146310e+05,3.146310e+05,184717.000000,314631.000000,...,3.138730e+05,3.146310e+05,314631.000000,3.146310e+05,314631.000000,3.146310e+05,3.138730e+05,314631.000000,314629.000000,314631.000000
mean,1981.666810,2.000014e+09,5.093736e+09,643.432141,5.013669e+09,407.527453,1.200998e+09,4.771876e+07,6.767000,2374.177743,...,4.940017e+09,6.172109e+03,2016.910152,5.083632e+09,211.243329,5.255418e+02,8.261662e+08,49.324870,401.002126,6.917364
std,282.713987,8.006914e+03,8.599312e+05,1174.108454,8.962616e+05,805.727466,1.545978e+06,1.990442e+07,9.708677,5917.824133,...,3.561072e+07,9.351678e+03,101.320279,3.319414e+06,402.598448,8.132897e+03,5.540537e+08,101.702817,27.541242,126.056770
min,0.000000,2.000000e+09,5.093192e+09,10.000000,5.013101e+09,0.000000,1.200200e+09,1.000002e+07,1.000000,-202333.600000,...,6.448880e+08,-7.539360e+04,0.000000,5.018001e+09,10.000000,-7.451000e+03,8.000047e+06,0.000000,100.000000,0.000000
25%,2022.000000,2.000007e+09,5.093199e+09,31.000000,5.013108e+09,10.000000,1.200200e+09,5.500000e+07,1.000000,27.080000,...,4.939211e+09,1.570170e+03,2022.000000,5.083290e+09,30.000000,1.600000e+01,8.013946e+06,0.000000,400.000000,0.000000
50%,2022.000000,2.000014e+09,5.093206e+09,71.000000,5.013112e+09,30.000000,1.200202e+09,5.500001e+07,5.000000,341.670000,...,4.940352e+09,5.500830e+03,2022.000000,5.083301e+09,90.000000,4.800000e+02,1.200202e+09,0.000000,400.000000,0.000000
75%,2022.000000,2.000021e+09,5.095023e+09,453.000000,5.015013e+09,310.000000,1.200207e+09,5.600001e+07,9.000000,1104.980000,...,4.941594e+09,9.076960e+03,2022.000000,5.085020e+09,240.000000,7.620000e+02,1.200207e+09,67.920000,400.000000,0.000000
max,2022.000000,2.000028e+09,5.099001e+09,4072.000000,5.019001e+09,4000.000000,1.204002e+09,8.500010e+07,56.000000,127592.370000,...,4.942888e+09,1.603634e+06,2022.000000,5.086027e+09,8800.000000,2.016000e+06,1.204002e+09,5618.000000,999.000000,10988.330000